:root {
  --azul-escuro: #002944;
  --azul: #386f94;
  --branca: #ffffff;
  --cinza: #828282;
  --luz: rgb(23, 161, 253);
}

body {
  align-items: center;
  background: linear-gradient(45deg, #808d96 0%,#0a213d 100%);
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  color: var(--branca);
  font-size: 2rem;
  margin-bottom: 30px;
}

.teclado {
  background: linear-gradient(to bottom, #315b7e 0%,#a5a8ac 100%);
  border-radius: 30px;
  box-shadow: 6px 8px 0 6px #25455f, 10px 10px 10px #000;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  border-radius: 30px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  z-index: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: var(--azul);
  font-size: 1.75em;
  font-weight: bold;
  height: 120px;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

.tecla:before {
  content: "";
  background: linear-gradient(
    45deg,
    #042d5c,
    #ff8a2b,
    #fffc32,
    #85ff54,
    #3dffdf,
    #2a4eff,
    #9029ff,
    #ff39d4,
    #ff3434
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-tecla 15s linear infinite;
  transition: opacity 0.1s ease-in-out;
  border-radius: 30px;
}

@keyframes glowing-button-tecla {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.tecla:after {
  background: rgb(255, 255, 255);
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 30px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--azul);
  border: 4px solid  var(--azul);
  box-shadow: 3px 3px 0 var(--azul-escuro) inset;
  color: var(--branca);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  box-shadow: 1px 1px 10px var(--luz);
  outline: none;
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--azul-escuro) inset, 1px 1px 10px var(--luz);
}
