:root {
  --cinza: #828282;
  --azul: #386f94;
  --azul-escuro: #002944;
  --branca: #b5b8bb;
  --luz: rgb(19, 161, 255);
}

body {
  align-items: center;
  background: linear-gradient(45deg, #808d96 0%,#0a213d 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

h1 {
  color: var(--branca);
  margin-bottom: 20px;
  font-size: 2rem;
}

.teclado {
  background: linear-gradient(to bottom, #315b7e 0%,#cccccc 100%);
  box-shadow: 6px 8px 0 6px #25455f, 10px 10px 10px #000;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  background-color: var(--branca);
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--azul);
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--azul);
  border: 4px solid  var(--azul);
  box-shadow: 3px 3px 0 var(--azul-escuro) inset;
  color: var(--branca);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--azul-escuro) inset, 1px 1px 10px var(--luz);
}
